* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.hide {
  display: none;
}
.container {
  max-width: 1400px;
  width: 100%;
  margin-inline: auto;
  background-color: #eeeeee8f;
  min-height: 800px;
  overflow: hidden;
  .tab-links {
    display: flex;
    border-bottom: 1px solid #eee;
    background-color: #fff;
    box-shadow: 0 1px 6px 2px #ddd;
    a {
      padding: 18px 28px;
      background-color: #fff;
      min-width: 150px;
      text-align: center;
      color: #000;
      border-right: 1px solid #ddd;
      position: relative;
      &.active {
        i {
          color: lightseagreen;
        }
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          left: 0;
          bottom: -2px;
          height: 3px;
          background-color: lightseagreen;
        }
      }
    }
  }
  .tab-content {
    .content {
      padding: 30px;
      min-height: 500px;
      form {
        // margin: 10px 0;
        label {
          font-size: 12px;
          font-weight: bold;
          letter-spacing: 1.1px;
          display: inline-block;
          margin-bottom: 5px;
        }
        select {
          width: 100%;
          border: 1px solid #333;
          border-radius: 5px;
          padding: 4px;
          background-color: #fff;
        }
      }
    }
  }
}

.grid-box {
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 100%;
  min-height: 200px;
  border-bottom: 1px solid #7777774f;
  .box {
    h2 {
      margin: 10px 0;
    }
    padding: 15px;
    position: relative;
    &.left {
      &::before {
        content: "";
        position: absolute;
        right: 0;
        height: 80%;
        background-color: #ddd;
        width: 2px;
      }
    }
    .text,
    .item {
      min-height: 150px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .item {
      padding: 20px 0;
    }
  }
}
